<mat-toolbar color="primary" aria-label="main-menu">
  <button mat-button [matMenuTriggerFor]="documents">Documents</button>
  <mat-menu #documents="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menu">Department</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menu">Menu</button>

  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
</mat-toolbar>